<!DOCTYPE html>
    <html>
    <head>
        <title>Mercado Liebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <img id="logo" src="/images/logo-mercado-liebre.svg"></img>
            <ul type="none">
                <li><input id="text" placeholder="Busca ofertas, productos.."></input>
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i></button></li>
            </ul>
            <h3 class="compras"><i class="fas fa-fire"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        <nav class="nav-class">
            <div><ul type="none"
             class="nav-bar">
                <li class="adds">Ofertas</li>
                <li class="adds">Tiendas Oficiales</li>
                <li class="adds">Vender</li>
                <li class="adds">Ayuda</li>
            </ul></div>
            <div><ul type="none" class="nav-bar">
                <li class="adds"><a href="/register">Creá tu cuenta </a><i class="fas fa-user"></i></li>
                <li class="adds">Ingresá<i class="fas fa-file-import"></i></li>
                <li class="adds">Mis compras <i class="fas fa-cash-register"></i></li>
            </ul></div>
        </nav>
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
        </header>
        <main>
            <h4 class="seccion">Basado en tu última vista</h4>
            <section>
                <article>
                    <img width="240" height="180" src="/images/img-cafetera-moulinex.jpg"></img>
                    <i class="fas fa-truck"></i>
                    <div class="price">$6.770</div>
                    <div class="off">40% OFF</div>
                    <div class="desc">Cafetera Moulinex</div>
                </article>
                <article>
                    <img width="240" height="180" src="/images/img-macbook-pro-2019.jpg"></img>
                    <i class="fas fa-truck"></i>
                    <div class="price">$230.000</div>
                    <div class="off">20% OFF</div>
                    <div class="desc">Macbook Pro 2019</div>
                </article>
                <article>
                    <img width="240" height="180" src="/images/img-samsung-galaxy-s10.jpg"></img>
                    <i class="fas fa-truck"></i>
                    <div class="price">$70.500</div>
                    <div class="off">10% OFF</div>
                    <div class="desc">Samsung Galaxy S10</div>
                </article>
                <article>
                    <img width="240" height="180" src="/images/img-tv-samsung-smart.jpg"></img>
                    <i class="fas fa-truck"></i>
                    <div class="price">$23.200</div>
                    <div class="off">5% OFF</div>
                    <div class="desc">Samsung SmartTv 43"</div>
                </article>
            </section>
            <h4 class="seccion">Ofertas</h4>
            <section>
                <article>
                    <img width="240" height="180" src="/images/img-cafetera-moulinex.jpg"></img>
                    <i class="fas fa-truck"></i>
                    <div class="price">$6.770</div>
                    <div class="off">40% OFF</div>
                    <div class="desc">Cafetera Moulinex</div>
                </article>
                <article>
                    <img width="240" height="180" src="/images/img-macbook-pro-2019.jpg"></img>
                    <i class="fas fa-truck"></i>
                    <div class="price">$230.000</div>
                    <div class="off">20% OFF</div>
                    <div class="desc">Macbook Pro 2019</div>
                </article>
                <article>
                    <img width="240" height="180" src="/images/img-samsung-galaxy-s10.jpg"></img>
                    <i class="fas fa-truck"></i>
                    <div class="price">$70.500</div>
                    <div class="off">10% OFF</div>
                    <div class="desc">Samsung Galaxy S10</div>
                </article>
                <article>
                    <img width="240" height="180" src="/images/img-tv-samsung-smart.jpg"></img>
                    <i class="fas fa-truck"></i>
                    <div class="price">$23.200</div>
                    <div class="off">5% OFF</div>
                    <div class="desc">Samsung SmartTv 43"</div>
                </article>
            </section>
        </main>
        <footer>
            <div class="tarjeta"><i class="fas fa-credit-card"></i></div>
            <h3><strong class="title">Pagá con tarjeta o en efectivo</strong></h3>
            <div class="text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>

            <div><i class="fas fa-gift"></i></div>
            <h3><strong class="title">Envío gratis desde $ 2.500</strong></h3>
            <div class="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles deproductos. Es un beneficio de Mercado Puntos.</div>

            <div><i class="fas fa-user-shield"></i></div>
            <h3><strong class="title">Seguridad, de principio a fin</strong></h3>
            <div class="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</div>

            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </footer>
    </body>
</html>